<script setup>
import { ref } from "vue";

defineProps({
  msg: String,
});

const count = ref(0);
</script>

<template>
  <div class="py-12 bg-white">
    <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="mt-5 md:mt-0 md:col-span-2">
          <div class="md:col-span-1">
            <div class="px-4 sm:px-0">
              <h3 class="text-lg font-medium leading-6 text-gray-900">
                Check Ongkir
              </h3>
              <p class="mt-1 text-sm text-gray-600">
                This application is only used as a technical test tool for entry
                requirements to PT.GPI
              </p>
            </div>
          </div>
          <form action="#" method="POST">
            <div
              v-if="$store.state.ongkir.errorMessage"
              class="flex justify-center items-center m-1 font-medium py-1 px-2 bg-white-500 rounded-md text-red-700 bg-red-100 border border-red-300"
            >
              <div slot="avatar">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="100%"
                  height="100%"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-alert-octagon w-5 h-5 mx-2"
                >
                  <polygon
                    points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"
                  ></polygon>
                  <line x1="12" y1="8" x2="12" y2="12"></line>
                  <line x1="12" y1="16" x2="12.01" y2="16"></line>
                </svg>
              </div>
              <div class="text-xl font-normal max-w-full flex-initial">
                {{ $store.state.ongkir.errorMessage }}
              </div>
              <div
                class="flex flex-auto flex-row-reverse"
                @click="removeErrorMessage"
              >
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="100%"
                    height="100%"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-x cursor-pointer hover:text-red-400 rounded-full w-5 h-5 ml-2"
                  >
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                  </svg>
                </div>
              </div>
            </div>
            <div class="shadow overflow-hidden sm:rounded-md">
              <div class="px-4 py-5 bg-white sm:p-6">
                <div class="grid gap-6">
                  <div class="col-span-6">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">
                      Origin
                    </h3>
                    <div class="mt-4">
                      <label
                        for="first-name"
                        class="block text-sm font-medium text-gray-700"
                        >Province</label
                      >
                      <select
                        placeholder="Please select province"
                        id="originProvince"
                        name="originProvince"
                        @change="changeProvinces"
                        class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                      >
                        <option>Please select province</option>
                        <option
                          v-for="(item, index) in $store.state.ongkir.province"
                          :key="index"
                          :value="item.province_id"
                        >
                          {{ item.province }}
                        </option>
                      </select>

                      <div class="col-span-6 sm:col-span-3">
                        <label
                          for="originCity"
                          class="block text-sm font-medium text-gray-700"
                          >City</label
                        >
                        <select
                          id="originCity"
                          name="originCity"
                          :value="originCityId"
                          @change="changeOriginCity"
                          class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        >
                          <option>Please select City</option>
                          <option
                            v-for="(item, index) in $store.state.ongkir
                              .originCity"
                            :key="index"
                            :value="item.city_id"
                          >
                            {{ item.city_name }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-span-6">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">
                      Destination
                    </h3>
                    <div class="mt-4">
                      <label
                        for="first-name"
                        class="block text-sm font-medium text-gray-700"
                        >Province</label
                      >
                      <select
                        placeholder="Please select province"
                        id="destinationProvince"
                        name="destinationProvince"
                        @change="changeProvinces"
                        class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                      >
                        <option>Please select province</option>
                        <option
                          v-for="(item, index) in $store.state.ongkir.province"
                          :key="index"
                          :value="item.province_id"
                        >
                          {{ item.province }}
                        </option>
                      </select>

                      <div class="col-span-6 sm:col-span-3">
                        <label
                          for="country"
                          class="block text-sm font-medium text-gray-700"
                          >City</label
                        >
                        <select
                          placeholder="Please select city"
                          name="destination-city"
                          id="destination-city"
                          :value="destinationCityId"
                          @change="changeDestinationCity"
                          class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        >
                          <option>Please select City</option>
                          <option
                            v-for="(item, index) in $store.state.ongkir
                              .destinationCity"
                            :key="index"
                            :value="item.city_id"
                          >
                            {{ item.city_name }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="mt-4 col-span-12">
                    <label
                      for="first-name"
                      class="block text-sm font-medium text-gray-700"
                      >Weight (gram)</label
                    >
                    <input
                      type="number"
                      name="weight"
                      id="weight"
                      :value="weight"
                      @change="changeWeight"
                      class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                    />

                    <div class="col-span-6 sm:col-span-3">
                      <label
                        for="country"
                        class="block text-sm font-medium text-gray-700"
                        >Courier</label
                      >
                      <select
                        id="courier"
                        name="courier"
                        :value="courier"
                        @change="changeCourrier"
                        class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                      >
                        <option>Please select courier</option>
                        <option value="jne">JNE</option>
                        <option value="pos">POS Indonesia</option>
                        <option value="tiki">TIKI</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div v-if="$store.state.ongkir.isSuccess">
                  <table
                    class="table-fixed w-full border-collapse border border-slate-400 mt-5"
                  >
                    <thead>
                      <tr>
                        <th class="border border-slate-300" colspan="4">
                          {{ $store.state.ongkir.courierName }}
                        </th>
                      </tr>
                      <tr>
                        <th class="border border-slate-300">Service</th>
                        <th class="border border-slate-300">Description</th>
                        <th class="border border-slate-300">Cost</th>
                        <th class="border border-slate-300">
                          Estimated (days)
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(item, index) in $store.state.ongkir.ongkir
                          .costs"
                        :key="index"
                      >
                        <td class="border border-slate-300">
                          {{ item.service }}
                        </td>
                        <td class="border border-slate-300">
                          {{ item.description }}
                        </td>
                        <td class="border border-slate-300">
                          {{ convertToIDR(item.cost[0].value) }}
                        </td>
                        <td class="border border-slate-300">
                          {{ item.cost[0].etd }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                <button
                  v-if="$store.state.ongkir.loading"
                  type="button"
                  class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                  disabled
                >
                  <svg
                    role="status"
                    class="mr-2 w-5 h-5 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                    viewBox="0 0 100 101"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                      fill="currentColor"
                    />
                    <path
                      d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                      fill="currentFill"
                    />
                  </svg>
                  Processing. . .
                </button>
                <button
                  v-else=""
                  type="button"
                  @click="submitOngkir"
                  class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                >
                  Check
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
a {
  color: #42b983;
}
</style>

<script>
export default {
  name: "CheckOngkir",
  data() {
    return {
      originProvId: "",
      destinationProvId: "",
      destinationCityId: "",
      originCityId: "",
      weight: 1000,
      courier: "",
    };
  },
  mounted() {
    this.getProvinces();
  },
  methods: {
    getProvinces() {
      this.$store.dispatch("getProvince");
    },
    getCities(payload) {
      this.$store.dispatch("getCity", payload);
    },
    getCouriers() {
      this.$store.dispatch("getCourier");
    },
    changeProvinces(e) {
      let payload = { id: e.currentTarget.value, name: e.currentTarget.id };
      this.getCities(payload);
    },
    submitOngkir(e) {
      e.preventDefault();
      let payload = {
        origin: this.originCityId,
        destination: this.destinationCityId,
        weight: this.weight,
        courier: this.courier,
      };
      this.$store.dispatch("submitOngkir", payload);
    },
    changeDestinationCity(e) {
      this.destinationCityId = Number(e.currentTarget.value);
    },
    changeOriginCity(e) {
      this.originCityId = Number(e.currentTarget.value);
    },
    changeWeight(e) {
      this.weight = e.currentTarget.value;
    },
    changeCourrier(e) {
      this.courier = e.currentTarget.value;
    },
    removeErrorMessage() {
      this.$store.dispatch("resetErrorMessage", "");
    },
    convertToIDR(angka) {
      var number_string = angka.toString().replace(/[^,\d]/g, ""),
        split = number_string.split(","),
        sisa = split[0].length % 3,
        rupiah = split[0].substr(0, sisa),
        ribuan = split[0].substr(sisa).match(/\d{3}/gi);

      // tambahkan titik jika yang di input sudah menjadi angka ribuan
      if (ribuan) {
        var separator = sisa ? "." : "";
        rupiah += separator + ribuan.join(".");
      }

      rupiah = split[1] != undefined ? rupiah + "," + split[1] : rupiah;
      return "Rp. " + rupiah;
    },
  },
};
</script>
